* {
    box-sizing: border-box;
}

body {
    background-color: tan;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    background-image: url(./assets/backgroundImage4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height:100vh;
}

nav {
    background-color: #d2a38c;
    height: 70px;
    width: 100%;
    box-shadow: 2px 2px 2px black;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px 5px 10px;
}

#nav-right {
    float: right;
}

#home:hover {
    color: black;
}

#about:hover {
    color: black;
}

#shopping:hover {
    color: black;
}

#home {
    text-decoration: none;
    color: brown;
    font-size: 1.5rem;
}

#about {
    text-decoration: none;
    color: brown;
    font-size: 1.5rem;
}

#shopping {
    text-decoration: none;
    color: brown;
    font-size: 1.5rem;
}

#shoppingImage {
    height: 30px;
    width: 30px;
    border-radius: 150px;
    box-shadow: 2px 2px 2px black;
    margin: 5px;
}

#searchBar {
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    height: 20px;
    width: 100px;
    color: brown;
    float: right;
    margin: 5px;
}

::placeholder {
    color: brown;
}

#sustainablity {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
    color: #b16e4d;
    text-shadow: 2px 2px 2px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;
    display: flex;
    justify-content: left;
}

#hub {
    font-size: 5rem;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    margin: 0;
    display: flex;
    justify-content: left;
}

#blurb {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 200px;
}

.section {
    border: 2px solid #b16e4d;
    padding: 30px;
    width: 500px;
    height: 500px;
    text-align: center;
}

.images {
    padding: 50px;
    height: 250px;
    width: 350px;
}

.images:hover {
    cursor: progress;
}


.article {
    text-align: center;
}

#title {
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
}

.content {
    font-size: 1.25rem;
    padding: 50px;
}

footer {
    text-align: center;
    background-color: #b16e4d;
    height: 25vh;
    width: 100%;
}

footer div {
    display: block;
    margin: 10px;
}

#copyright {
    color: white;
    text-align: center;
}

.footerLinks {
    text-decoration: none;
    color: brown;
    font-size: 1.25rem;
    text-align: center;
    margin: 0 1rem;
}

.footerLinks:hover {
    color: black;
}

.socials {
    height: 30px;
    width: 30px;
    margin: 0 1rem;
}

.socials:hover {
    cursor: progress;
}

